article.context {
  font-size  : 16px;
  margin-top : 35px;
}

.news-category-selector {
  width: 200px;
  margin-right: 20px;
}

.news-category-container {
  margin: 0 auto;
  width: 300px;
}

.news-item-loading-section {
  background-image: url("../images/loading.gif");
  width: 500px;
  height: 270px;
  margin: 0 auto;
}

.news-list-item-date {
  font-size: 13px;
  color: #CCCCCC;
}

.news-list-item-thumb {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

.news-list-item-default-thumb {
  height: 80px;
  width: 80px;
  vertical-align: middle;
  border: 1px solid #CCCCCC;
}

.news-list-item-heading a {
  font-family : "Fira Sans";
  font-weight: bold;
  border-bottom: 1px solid #b4e7f8;
  color: inherit;
  text-decoration: none !important;
}

.news-details-body a {
  border-bottom: 1px solid #b4e7f8;
  box-shadow: inset 0 -2px 0 #b4e7f8;
  color: inherit;
  text-decoration: none !important;
}

.news-details-body {
  font-family : "Source Serif Pro";
  text-align  : justify;
  font-size   : 18px;
}

.news-details-heading {
  font-family: "Fira Sans";
  font-weight: bold;
}

.news-details-image {
  width  : 300px;
  margin : 0 auto;
}

.news-details-back {
  vertical-align: middle;
}

.news-comment-box {
  border-bottom: 1px dotted #DCDCDC;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.news-comment-date {
  font-size: 13px;
  color: #CCCCCC;
}

.thumbnail.with-caption {
  background: #f5f5f5;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

